@model PDodajVM

<br />
<form>
    <input name="FakturaId" value="@Model.FakturaId"/>
    Proizvod: 
    <select name="ProizvodId">
        @foreach (var item in Model.Proizvodi)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
    <br />
    <br />
    
    Kolicina: <input name="Kolicina" type="number"/>
    <br />
    <br />

    <button type="submit" class="btn btn-default">Snimi proizvod</button>
</form>

<script>
    $("document").ready(function () {
        $("form").on("submit", function (event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Proizvod/SnimiDodavanje",
                data: $(this).serialize(),
                success: function (data) {
                    $("#Proizvodi").html(data);
                }
            });
        });
    });
</script>