@model OCDetaljiVM

<br />
Nastavnik <input value="@Model.Nastavnik"/>
<br /><br />

Datum: <input value="@Model.Datum"/>
<br /><br />

Predmet: <input value="@Model.Predmet"/>
<br /><br />

Odjeljenje: <input value="@Model.Odjeljenje"/>
<br /><br />

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

<div id="Ucenici">

</div>

<script>
    $("document").ready(function () {
        $.ajax({
            url: "/Ucenik/Index?OdrzaniCasId=@Model.OdrzaniCasId",
            success: function (data) {
                $("#Ucenici").html(data);
            }
        });
    });
</script>